/.env
/.env.*
!/.env.example
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/public/css/filament
/public/js/filament
/public/fonts/filament
/database/*.sqlite*
/.phpunit.cache
/.idea
/auth.json
/storage/*.key

/storage/framework/testing/
